<?xml version="1.0" ?>
<launch>
  
<arg name="ns" default="iris"/>

<include file="$(find rotors_gazebo)/launch/gazebo_iris_rivets_plane_world.launch">
	<arg name="ns" value="$(arg ns)"/>
</include>
<include file="$(find px4)/launch/mavros_sitl.launch">
	<arg name="ns" value="$(arg ns)"/>
</include>
<group ns="$(arg ns)">
	<node pkg="aircraft_inspection" name="demo_offboard_position_control" type="demo_offboard_position_control" output="screen"/>
  
</group>
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find aircraft_inspection)/rviz/plane_rivets.rviz" required="true" />
</launch>
